#post_formats_gallery{
  overflow:auto;
}

#post_format_gallery_list li{
  float:left;
  margin:5px;
}

#post_format_gallery_list li a{
  text-align:center;
}


.pfp-media-holder {
    background-color: #000;

    margin-bottom: 10px;
    text-align: center;
}

.pfp-video,
.pfp-embed {
    margin-top: 4px;
    max-height: 300px;
}

.pfp-hide {
    display: none;
}


.pfp-or-hr {
    display: inline-block;
    margin: 0 5px;
}
