.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


#post_formats_gallery{
  overflow:auto;
}

#post_format_gallery_list li{
  float:left;
  margin:5px;
}

#post_format_gallery_list li a{
  text-align:center;
}


.pfp-media-holder {
    background-color: #000;

    margin-bottom: 10px;
    text-align: center;
}

.pfp-video,
.pfp-embed {
    margin-top: 4px;
    max-height: 300px;
}

.pfp-hide {
    display: none;
}


.pfp-or-hr {
    display: inline-block;
    margin: 0 5px;
}

.chat-log {
    max-width: 400px;
}

.chat-log li {
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}
.chat-log li:nth-child(even) {
    background: rgb(117, 144, 230);
    clear: both;
    float: left;
}
.chat-log li:nth-child(even)::after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(117, 144, 230);
    content: '';
    display: block;
    height: 0;
    position: absolute;
    bottom: 0;
    left:-10px;
    width: 0;
}

.chat-log li:nth-child(odd) {
    background: rgb(175, 179, 191);
    clear: both;
    float: right;
}

.chat-log li:nth-child(odd)::after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(175, 179, 191);
    content: '';
    display: block;
    height: 0;
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 0;
}
